* {
    margin: 0;
    padding: 0;
}

#gamearea {
    background-color: #121212;
    width: 1000px;
    height: 300px;
}

#dino {
    position: relative;
    width: 30px;
    height: 100px;
    background-color:aquamarine;
    top:200px;
    left:50px;
}

.animateDino {
    animation: jump 500ms;
}

@keyframes jump {
    0% {
        top: 200px;
    }
    30% {
        top: 160px;
    }
    70% {
        top: 160px;
    }
    100% {
        top: 200px;
    }
}

#block {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: brown;
    top: 180px;
    left: 980px;
    display: none;
    border-radius: 100%;
}

.animateBlock {
    animation: move 1s infinite linear;
}


@keyframes move {
    0% {
        left: 980px;
    }
    100% {
        left: -10px;
    }
}

.startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
